main {
    height: calc(100vh - 60px);
    width: 100%; 
    background-color: #333;
    background-image: url(../images/about-me-background-dimmed-85.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main .main-flex {
    display: flex; 
    align-items: center;
    justify-content: center;
}

main .main-intro {
    text-align: center;
    padding-top: 10vh;
    flex-basis: 100%;
}

main h1 {
    font-size: 5rem;
    line-height: 1.25;
    margin-bottom: 20px;
}

main p {
    padding: 0 20px;
    line-height: 2;
}

/* Main elements to be repeatedly used */

.main-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2vh;
}

.main-section {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 3vh 0;
}

.main-box {
    height: 20vh; 
    width: 100%; 
    background-color: var(--site-color-1);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
}

.main-box-h3 {
    font-size: 3rem;
}
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    background-color: #000; 
    opacity: 0.5;
    transition: all ease-in-out 200ms;
}

.main-box:hover .dark-overlay 
{
    opacity: 0; 
}

.main-text-h3-black {
    flex-basis: 100%;
    color: #000;
}

.main-text-h3-white {
    flex-basis: 100%;
}

/* Education section and Hobbies Section*/
.education-section-main, .hobbies-section-main {
    background-color: #fff;
}

.education-section-main p, .hobbies-section-main p {
    color: #000;
}

.hobbies-section-main h4 {
    color: #000;
}

.education-section-main .main-box{
    background-image: url(../images/education-campus.jpg);
}

.hobbies-section-main .main-box:nth-of-type(1) {
    background-image: url(../images/hobbies-lifting.jpg)
}

.hobbies-section-main .main-box:nth-of-type(2) {
    background-image: url(../images/hobbies-gaming.jpg);
}

/* Work experience section */
.work-experience-main {
    background-color: var(--site-color-1);
}

.work-experience-main .main-box {
    background-image: url(../images/work-experience-in-n-out.jpg);
}