/* overriding some defualt styles */

/* Main Section  */
main {
    height: calc(100vh - 60px);
    width: 100%;
    color: #fff;
    background-color: #333333;
    background-image: url(../images/background-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 100;
}

main .main-flex {
    display: flex; 
    align-items: center;
    justify-content: center;
}

main .main-intro {
    position: relative; 
    top: 15vh;
    right: 45vh; 
    width: fit-content; 
}

main .main-quotes {
    position: relative;
    top: 15vh;
    left: 15vh;
    width: fit-content
}

main .main-intro h1 {
    font-size: 9.6rem;
    line-height: 1.1; 
    margin-bottom: 30px;
}

main p {
    line-height: 2; 
    margin-bottom: 30px; 
}

main a {
    width: fit-content;
    background-color: var(--site-color-1); 
    display: block; 
    padding: 10px 20px;
}

main a:hover {
    background-color: var(--site-color-1-hover)
}

main .main-quotes p {
    border-left: 4px solid var(--site-color-1);
    padding-left: 20px;
    margin: 5vh 0;  
}

main .main-quotes p:nth-child(2) {
    margin-left: 10vh; 
}

/* Categories Section */
.index-categories-main { 
    width: 100%; 
    padding: 2.5vh 0; 
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    z-index: 100;
}

.index-categories-flex {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2vh; 
}

.index-categories-main-box {
    height: 20rem;
    width: 20rem;
    background-color: #ff0000; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.index-categories-main-box:nth-child(2)
{
    background-image: url(../images/projects.jpg);
}

.index-categories-main-box:nth-child(3)
{
    background-image: url(../images/programming-challenges.jpg);
}


.index-categories-main-h3-title {
    color: #000;
    padding-bottom: 40px;
    flex-basis: 100%;
}

.index-categories-main-box h3 {
    text-shadow: -2px 2px 4px #000;
    z-index: 100; 
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    background-color: #000; 
    opacity: 0.5;
    transition: all ease-in-out 200ms;
}

.index-categories-main-box:hover .dark-overlay 
{
    opacity: 0; 
}

/* About Me section */

.index-about-me-main {
    width: 100;
    padding: 2.5vh 0;
    color: #fff;
    background-color: var(--site-color-2);
}

.index-about-me-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4vh;
}

.index-about-me-main img {
    width: 300px;
    border-radius: 300px;
}

.index-about-me-text {
    flex-basis: 350px;
}

.index-about-me-text a {
    width: fit-content;
    display: block; 
    background-color: var(--site-color-1);
    padding: 10px 20px;
}

.index-about-me-text a:hover {
    background-color: var(--site-color-1-hover);
}

.index-about-me-text p {
    padding: 1vh 0;
}

.index-about-me-skills {
    flex-basis: 350px;
}

.index-about-me-skills p {
    padding: 0.25vh 0;
}

.index-about-me-skills-bar {
    height: 20px;
    width: 100%;
    border: 4px solid #000;
}


.index-about-me-skills-fill {
    width: 100%; 
    height: 100%;
    background-color: var(--site-color-1);
}

.htmlcss {
    width: 45%;
}
.javascript {
    width: 45%;
}
.candcplusplus {
    width: 80%;
}
.csharp {
    width: 85%;
}
.java {
    width: 75%;
}